/* palette */
 :root{
    --blue: #1B72E8;
    --blue-botton: #165BBA;
    --light-grey: #F8F9FA;
    --grey: #F7F7F7;
    --dark-grey: #8590a3;
    --orange: #FF8F00;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

/* wrapper */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: white;
}
/* header */
.header-nav{
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
}
/* logo */
.ms_logo-mobile{
    height: 3rem;
}
.ms_logo{
    height: 2rem;
}
/* main */
.ms_container-boolean{
    background-color: var(--blue);
}

.ms_row{ 
    display: flex;
}
/* button section boolean*/
.ms_btn{
    background-color: var(--blue-botton);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 3px;
    font-size: 10px;
    
}
.ms_col-home{
    width: 4.5rem;
    height: calc(100vh - 5rem);
    background-color: lightslategray;
    flex-shrink: 0;
}

.ms_col-boolean{
    width: calc(100% - 4.5rem);
    height: calc(100vh - 5rem);
    overflow-y: auto;
}
/* table prossime classi */
.img-avatar{
    width: 30px;
}

/* tablet */
@media screen and (min-width: 768px){
    .row{
        display: flex;
    }
    .ms_col-home{
        width: 7rem;
    }

   
}

/* deskyop */
@media screen and (min-width: 1024px) {
    .ms_col-home{
        width: 7rem;
    }
}